<% provide(:title, 'Sign up') %>
<h1>All users</h1>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
