<header class="navbar navbar-expand-md bg-dark navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-brand"><%= link_to "sample app", root_path, id: "logo" %></div>
    <nav class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item nav-link"><%= link_to "Home", about_path %></li>
        <li class="nav-item nav-link"><%= link_to "Help", help_path %></li>
        <li class="nav-item nav-link"><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
